:root {
  --primary-color: #41b06e;
  --primary-color-light: #b0fce3;
  --primary-color-dark: red;
  --text-dark: #1679ab;
  --text-light: #6b7280;
  --white: #ffffff;
  --max-width: 1200px;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3rem;
  color: var(--text-dark);
  text-align: center;
}

.section__description {
  color: var(--text-light);
  line-height: 1.75rem;
  text-align: center;
}

.explore__content .section__header {
  max-width: 500px;
}

.explore__content :is(.section__header, .section__description),
.explore__btn {
  text-align: left;
}

.explore__content .section__description {
  margin-bottom: 2rem;
}

.explore__container {
  display: grid;
  gap: 2rem;
  overflow: hidden;
}

.explore__image img {
  max-width: 400px;
  margin-inline: auto;
  filter: drop-shadow(0 0 50px rgba(16, 204, 173, 0.4));
}

@media (width > 768px) {
  .explore__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
}
